@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Lima - Perú<br />
    Santa Anita<br />
    <abbr title="Phone">P:</abbr>
    +51 939236731
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:jhankarlo.smc@icloud.com">jhankarlo.smc@icloud.com</a><br />
</address>
